{% extends 'base.html' %}
{% load static %}
{% block estilos %}
    <link rel="stylesheet" href="{% static 'css/registro.css' %}?v=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css">
{% endblock estilos %}
{% block content %}
    <div id="foodForm">
        <h1>Registrar Comida</h1>
        <form>
            <label for="food_1">Qué estas comiendo?:</label>
            <select id="food_1" name="food_1" required>
                <!-- Opciones de categorías se cargarán dinámicamente -->
            </select>

            <label for="photo">Foto (jpg):</label>
            <input type="file" accept="image/jpeg" id="photo" name="photo" required>

            <img id="previewImage" style="max-width: 300px; max-height: 300px; margin-top: 10px;" />

            <div id="preview-container">
                <img id="previewImage" src="" alt="Preview">
            </div>

            <div class="controls">
                <button id="rotate-left" class="rotate-button">⟲</button>
                <button id="rotate-right" class="rotate-button">⟳</button>
                <button id="date-button" class="rotate-button">📅</button>
            </div>

            <label for="dateTime">Fecha/Hora:</label>
            <input type="datetime-local" id="dateTime" name="dateTime" required>

            <button id="save-button">Registrar</button>
        </form>
        <canvas id="previewCanvas" width="200" height="200"></canvas>
        <script>
            const token = localStorage.getItem('token'); // o de donde sea que lo estés guardando

            if (!token) {
                // Redirigir al usuario al login
                window.location.href = '/ingresar/';
            }

            window.onload = function() {
                fetch('/api/foods/')
                    .then(response => response.json())
                    .then(data => {
                        var selectElement = document.getElementById('food_1');

                        // Agregar opciones al elemento de selección
                        data.forEach(category => {
                            var option = document.createElement('option');
                            option.value = category.id;
                            option.textContent = category.name;
                            selectElement.appendChild(option);
                        });
                    })
                    .catch(error => {
                        console.error('Error al obtener categorías:', error);
                    });
            };
        </script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/exif-js/2.3.0/exif.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>
        <script src="https://unpkg.com/image-compressor.js"></script>
        <script src="{% static 'js/app2.js' %}?v=1.0"></script>
    </div>
{% endblock content %}